<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.title - Subbie</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar ">
        <div class="">
            <div class="">
                <div style="font-size: 40px; margin-top: -2px; margin-left: 40px; background-color: #10FFCE; width: 40px; height: 40px; border-radius: 10px; text-align: center; padding-top: -5px;"><div style=" position:absolute; top:-5px; left:50px;"> S</div></div>
                <div style=" color: #10FFCE; font-size: 30px; float: left; position: absolute; top: 0; left: 90px;">ubbie</div>
                <a href=~/Views/Splash/Registrer" style="">@Html.ActionLink("registrar", "Registrer", "Splash", new { @class = "btnregister" }))</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Login", "Login", "Splash")</li>
                    <li>@Html.ActionLink("Registrer", "Registrer", "Splash")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="texto-bienvenida">
        <br />
        Bienvenidos, juntos contribuiremos a la revolución de compras online.
        <br />
        <input type="submit" class="btn btn-success" value="Leer más">
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>